@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
<<<<<<< HEAD
.bg-custom {
  background-image: url("/public/assets/nike-banner.webp");
}
=======

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
>>>>>>> bd7f29a81d80cc0ac7152e74ba15c0a2d0011aca
